// SPDX-License-Identifier: GPL-2.0
/*
 * MDM9607 MTP board - used as the base for Quectel AG35 module
 * Copyright (c) 2015, The Linux Foundation. All rights reserved.
 */
/dts-v1/;

#include "qcom-mdm9607.dtsi"
#include "qcom-pm8019.dtsi"
#include "qcom-mdm9607-regulators.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>

/ {
	model = "Qualcomm Technologies, Inc. MDM9607 MTP";
	compatible = "qcom,mdm9607-mtp", "qcom,mdm9607";
	qcom,msm-id = <290 0x10000>, <296 0x10000>, <297 0x10000>,
		      <298 0x10000>, <299 0x10000>;
	qcom,board-id = <8 0>;

	aliases {
		serial0 = &blsp1_uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

/* BLSP1 UART2 (gpio4/5): debug console */
&blsp1_uart2 {
	status = "okay";
};

/*
 * ===== DIAGNOSTIC: everything below disabled to isolate reset cause =====
 * If boot progresses past ~2.8s, one of these devices causes the reset.
 * Re-enable them one by one to find the culprit.
 */

/* BLSP1 UART3 (gpio0/1/2/3): modem AT command port */
/* &blsp1_uart3 { status = "okay"; }; */

/* Modem remoteproc - loads and manages modem firmware */
/* &remoteproc_mss { status = "okay"; firmware = ...; }; */

/* &blsp1_i2c2 { status = "okay"; }; */
/* &blsp1_i2c4 { status = "okay"; }; */
/* &blsp1_spi6 { status = "okay"; }; */

/* eMMC on SDCC1 */
/* &sdhc_1 { status = "okay"; ... }; */

/* SD card on SDCC2 */
/* &sdhc_2 { status = "okay"; ... }; */

/* USB HS in peripheral mode */
/* &usb_hs_phy { ... status = "okay"; }; */
/* &usb { ... status = "okay"; }; */

/* QPIC NAND */
/* &qpic_bam { status = "okay"; }; */
/* &qpic_nand { status = "okay"; ... }; */

/* &pm8019_mpps { ... }; */
